@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --off-white: #f8f8f8;
  --background:var(--off-white);
  --static-background: var(--background); 
  --black: #171717;
  --foreground: var(--primary-500);
  --primary-200: #ACD3FF;
  --primary-300: #105BDC;
  --primary-400: #0A4FBD;
  --primary-500: #173EB4;
  --background-gradient: radial-gradient(circle at 10% 10%, var(--primary-300) 0%, var(--primary-500) 100%);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  overflow:hidden;
}

.fluid-text--masthead {
  font-size: clamp(1rem, 2vw, 1.5rem);

}

.prose-blue {
  color: var(--foreground);
}

.static-container {
  padding: 1rem;
  height: calc(100vh);
  height: 100dvh;
  background-image: var(--background-gradient);
}
.static-container--inner {
  height: 100%;
  border-radius: 1rem;
  background: var(--static-background);
  color: var(--foreground);
}

.nav-container {
  position: relative;
  z-index: 10;
}

.page-content {
 padding-top: 4rem;
}

/** scrollbar **/

.scrollbar-custom {
  max-height: 100%;
   overflow-Y: auto;
  padding-inline: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #bbb transparent;
  @media (min-width: 40rem){
    padding-inline: 2rem;
  }
}
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}
.scrollbar-custom:hover::-webkit-scrollbar-thumb {
  opacity: 1;
  background: #888;
}
.scrollbar-custom::-webkit-scrollbar-thumb:active {
  background: #555;
}


.portfolio-item {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--background);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }
    &:active {
      transform: scale(0.98);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      filter: brightness(1.1);
    }
}

.portfolioImage-wrap {
  aspect-ratio: 16 / 13;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  img {
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: top;
  }
}

.portfolio-link {
  width: 100%;
  text-align: center;
}

.title-container {
  container-type: inline-size;
  h1 {
    font-size: clamp(2rem, 10cqw, 4rem);
    @media (min-width: 40rem){
      /* font-size: clamp(2rem, 10cqw, 4rem); */
    }
  }
}

.toggle_nav {
 position: relative;
 z-index: 1000;
}

.mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--background);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;

  &.isOpen__true {
    transform: translateX(0);
  }
  &.isOpen__false {
    transform: translateX(-100%);
  }
}